.Img {
  width: 30vh;
  height: 25vh;
  border-radius: 10px;
}

.firstline {
  display: flex;
  gap: 5px;
  font-weight: bold;
}

.squareimage {
  position: relative;
  display: flex;
  .like {
    width: 2vh;
    height: 2vh;
    position: absolute;
    margin-left: 27vh;
    margin-top: 1vh;
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  .star {
    width: 10px;
    height: 10px;
  }
}

.price {
  font-weight: bold;
}
