<div class="header-line">
  <a class="logo" href="http://localhost:4200">
    <img
      src="../../../assets/assets-airbnb/logo.svg"
      alt=""
      class="filter-red"
    />
  </a>
  <div class="searchbar">
    <input
      type="text"
      placeholder="N'importe où"
      id="search-input"
      list="city-suggestions"
    />
    <p>|</p>
    <!-- J'utilise une datalist à partir de chaque changement de touche pour afficher la liste récupérer de l'api du gouvernement -->
    <datalist id="city-suggestions">
      <option
        *ngFor="let city of listCity$ | async"
        [value]="city.nom"
      ></option>
    </datalist>

    <p>Une semaine</p>
    <p>|</p>
    <p>Ajouter des voyageurs</p>
    <div class="loupe-container">
      <img
        src="../../assets/assets-airbnb/loupe.svg"
        alt="icon"
        class="loupe-image"
      />
    </div>
  </div>
  <div class="right-container">
    <div class="text-right-container">
      <p>Mettre mon logement</p>
    </div>

    <img
      src="../../assets/assets-airbnb/globe.svg"
      alt="icon"
      class="filter-red"
    />

    <div class="bubble" (click)="toggleMenu()">
      <img
        src="../../assets/assets-airbnb/bars.svg"
        alt="icon"
        class="filter-red"
      />
      <img
        src="../../assets/assets-airbnb/profile.svg"
        alt="icon"
        class="filter-red"
      />
      <div class="menu" *ngIf="showMenu">
        <ul>
          <p><a href="#">Inscription</a></p>
          <p><a href="#">Connexion</a></p>
          <p><a href="#">Mettre mon logement</a></p>
          <p><a href="#">Centre d'aide</a></p>
        </ul>
      </div>
    </div>
  </div>
</div>
