
<div class="header-line">
      <img src="../../assets/assets-airbnb/logo.svg" alt="icon" class="filter-red">
        <div class="searchbar">
            <p>N'importe où</p>
            <p>Une semaine</p>
            <p>Ajouter des voyageurs</p>
            <img src="../../assets/assets-airbnb/loupe.svg" alt="icon" class="filter-red">
            
        </div>
        <div class="right-container">
             <p class="text-right-container">Mettre mon logement</p>
            <img src="../../assets/assets-airbnb/globe.svg" alt="icon" class="filter-red">
            <div class="bubble">
                <img src="../../assets/assets-airbnb/bars.svg" alt="icon" class="filter-red">
                <img src="../../assets/assets-airbnb/profile.svg" alt="icon" class="filter-red">
            </div>
           <!-- header.component.html -->
   
        </div>
    </div>
  
  