.filter-red {
  filter: invert(42%) sepia(32%) saturate(2363%) hue-rotate(323deg)
    brightness(116%) contrast(104%);
}
.loupe-container {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 90, 95);
  border-radius: 50%;
}

.loupe-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
  width: 15px;
  height: 15px;
}

.header-line {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(85, 85, 85, 0.501);
  height: 8vh;

  .logo {
    padding-left: 1rem;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .searchbar {
    /*Affichage style AirBnB*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15vh;
    height: 50%;
    white-space: nowrap;
    /*END*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 45%;
  }
  .right-container {
    .text-right-container {
      white-space: nowrap;
    }
    padding-right: 1rem;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    height: 100%;
    .bubble {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border: 2px solid #555; 
      border-radius: 30px;
      width: 4vw;
      padding: 3px;
      img {
        cursor: pointer;
        width: 40%;
        height: 90%;
      }

      .menu {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
        background-color: white;
        border: 2px solid #555;
        border-radius: 10px;
        position: absolute;
        transform: translateY(72%) translateX(-20%);
        white-space: nowrap;
      }
    }
  }
}
