<div *ngIf="accommodation$ | async as accommodations" class="cardlist-container">
  <div class="cardlist">
    <div *ngFor="let accommodation of accommodations" class="card-wrapper">
      <!-- Ajoutez une condition ngIf pour filtrer les cards -->
      <app-card [accommodation]="accommodation" 
                *ngIf="matchesSearchText(accommodation.city.name)">
      </app-card>
    </div>
  </div>
</div>


<div *ngIf="!(accommodation$ | async ) as accommodations" class="loader">
  <p>load</p>
</div>