
*{
    margin: 0;
    padding: 0;
    //white-space: nowrap;
    //font-family: 'cereal_airbnb';
}

//Asterix pour tous les éléments, appliquer un même style partout
@font-face {
    font-family: 'cereal_airbnb_light';
    src: url('airbnb_light.otf') format('opentype');
  }
  
@font-face {
    font-family: 'cereal_airbnb_bold';
    font-weight: bold;
    src: url('airbnb_bold.otf') format('opentype');
  }

p{
    font-family: 'cereal_airbnb_light';
    
}


//Pour changer le curseur, lors qu'il y'a des éléments à cliquer
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}