
/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    //white-space: nowrap;
    //font-family: 'cereal_airbnb';
}

//Asterix pour tous les éléments, appliquer un même style partout
@font-face {
    font-family: 'cereal_airbnb_light';
    src: url('airbnb_light.otf') format('opentype');
  }
  
@font-face {
    font-family: 'cereal_airbnb_bold';
    font-weight: bold;
    src: url('airbnb_bold.otf') format('opentype');
  }

p{
    font-family: 'cereal_airbnb_light';
}